.page {
    padding: 24rpx 32rpx;
    display: flex;
    flex-direction: column;
    background: #f4f6f8;
    box-sizing: border-box;
}
.ph {
    color: #9ca3af;
    font-size: 28rpx;
}
.required {
    &::before {
        content: '*';
        color: red;
    }
}
//公共底部弹窗
.bottom-popup {
    background-color: #ffffff;
    padding: 48rpx 32rpx;
    border-radius: 32rpx 32rpx 0rpx 0rpx;
    position: relative;
    .close-popup {
        position: absolute;
        width: 40rpx;
        height: 40rpx;
        background-image: url('@/assets/images/icon-close-pop.png');
        background-size: cover;
        right: 32rpx;
        top: -72rpx;
    }
    .popup_title {
        font-weight: 600;
        font-size: 32rpx;
        color: #303133;
        line-height: 32rpx;
        text-align: center;
        margin-bottom: 48rpx;
    }
}
// 公共返回按钮
.common-cap {
    display: flex;
    align-items: center;
    margin-bottom: 46rpx;
    .common-back {
        width: 48rpx;
        height: 48rpx;
        background-image: url('../images/back.png');
        background-size: cover;
        margin-right: 24rpx;
    }
    .common-title {
        font-weight: 600;
        font-size: 36rpx;
        color: #303133;
        line-height: 50rpx;
    }
}

.flex {
    display: flex;
}
.a-center {
    align-items: center;
}
.j-center {
    justify-content: center;
}
.j-between {
    justify-content: space-between;
}
.j-around {
    justify-content: space-around;
}
.f-1 {
    flex: 1;
}
